* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  width: 100%;
  height: auto;
  position: relative;
}
body .main {
  max-width: 1900px;
  margin: 0 auto;
  color: #1C68D0;
}
body .main-title {
  margin-top: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.05em;
}
body .main .suggestion {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.05em;
}
body .main .form {
  margin: 0 auto;
  margin-top: 50px;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px -1px 15px rgba(0, 0, 0, 0.25);
  max-width: 800px;
  align-items: center;
}
body .main .form input,
body .main .form textarea {
  font-family: "Roboto", sans-serif;
  margin-top: 16px;
  max-width: 694px;
  width: 90%;
  height: 55px;
  background-color: #DFF1F0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #837E7E;
  padding-left: 10px;
}
body .main .form textarea {
  padding-top: 10px;
}
body .main .form #message {
  height: 250px;
  resize: none;
}
body .main .form .submit {
  width: 240px;
  padding-left: 0;
}
body .main .form input:not(.submit):hover,
body .main .form textarea:hover {
  background-color: #DDECEB;
}
body .main .form input:not(.submit):focus,
body .main .form textarea:focus {
  outline: none;
  background-color: #CDE2E1;
}
body .main .form .submit {
  background-color: #5EC2F2;
  color: #FFF;
}
body .main .form .submit:hover {
  background-color: #55a1a1;
}
body .main .form .submit:active {
  background-color: #568383;
  outline: none;
}
body .main .address {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
body .main .address .column {
  text-align: left;
  width: 50%;
}
body .main .address .column .title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.05em;
}
body .main .address .column .text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.05em;
}
body .main .address .column .phone-title {
  margin-top: 50px;
}
body .main .address .column .phones {
  margin-top: 25px;
}
body .main .address .column .phones .phone-kiev::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: url(../img/contacts/kievstar.svg) center no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  min-width: 15px;
  min-height: 15px;
  margin-right: 5px;
}
body .main .address .column .phones .phone-life::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: url(../img/contacts/lifecell.svg) center no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  min-width: 15px;
  min-height: 15px;
  margin-right: 5px;
}
body .main .address .column .address-paragraph {
  margin-top: 25px;
}
body .main .address .address-map {
  width: 537px;
  height: 517px;
}
@media (max-width: 1000px) {
  body .main .address .address-map {
    margin-top: 40px;
    width: 100%;
    height: 450px;
  }
}
@media only screen and (max-width: 1000px) {
  body .main .container {
    padding: 0 24px;
  }
  body .main .container .address {
    flex-direction: column;
  }
  body .main .container .address .column {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  body .main .suggestion {
    margin-top: 15px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body .main .container {
    padding: 0 8px;
  }
  body .main-title {
    margin-top: 15px;
    font-size: 20px;
    line-height: 23px;
  }
  body .main .suggestion {
    margin-top: 15px;
    font-size: 14px;
    line-height: 140.69%;
  }
  body .main .form {
    margin-top: 15px;
    padding: 10px 5px;
  }
  body .main .form input {
    height: 35px;
  }
  body .main .form textarea {
    max-height: 149px;
  }
  body .main .form .submit {
    width: 124px;
  }
  body .main .form input,
  body .main .form textarea,
  body .main .form .submit {
    font-size: 14px;
    line-height: 140.69%;
  }
  body .main .address {
    margin-top: 0;
  }
  body .main .address .column .title {
    font-size: 20px;
    line-height: 23px;
    margin-top: 15px;
  }
  body .main .address .column .text {
    font-size: 14px;
    line-height: 140.69%;
    margin-top: 5px;
  }
  body .main .address .column .phones {
    margin-top: 5px;
  }
  body .main .address .address-map {
    position: relative;
    margin-top: 15px;
    /*iframe{
                    top:0;
                    left:0;
                    position:absolute;
                }*/
  }
}
