footer {
  margin-top: 60px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin-bottom: 0;
  background-color: #5EC2F2;
  color: #FFF;
}
footer .container {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
}
footer .column {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
}
footer .first-column .social {
  min-width: 100px;
  height: 60px;
  width: 40%;
  display: flex;
  margin: 20px auto 0;
}
footer .first-column .social a {
  display: block;
  width: 33%;
  height: auto;
  background: url(../img/instagram.svg) no-repeat;
  background-size: contain;
  margin-left: 10px;
}
footer .first-column .social a:hover {
  transition: all 0.5s;
  transform: scale(1.2);
}
footer .first-column .social .fb {
  background: url(../img/fb.svg) no-repeat;
  background-size: contain;
}
footer .first-column .social .telegram {
  background: url(../img/telegram.svg) no-repeat;
  background-size: contain;
}
footer .first-column .social .inst {
  margin-left: 15px;
}
footer .title {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
}
footer .title::after {
  content: "";
  display: block;
  width: 25%;
  height: 3px;
  border-radius: 3px;
  background-color: #FFF;
  margin: 13px auto 0;
}
footer .column-content {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
footer .column-content .column-item {
  margin-top: 25px;
  text-align: center;
  display: inline-block;
  vertical-align: baseline;
}
footer .column-content .column-item::before {
  content: "";
  display: inline-block;
  width: 17.5px;
  height: 12.5px;
  margin-right: 3px;
}
footer .column-content .second {
  margin-top: 15px;
}
footer .column-content .email::before {
  background: url(../img/email.svg) no-repeat center;
  background-size: cover;
}
footer .column-content .number::before {
  background: url(../img/phone-call.svg) no-repeat center;
  background-size: cover;
  height: 14px;
}
footer .column-content .address::before {
  background: url(../img/geo.svg) no-repeat center;
  background-size: cover;
  width: 15px;
  height: 15px;
}
footer .copyright {
  margin: 50px auto auto;
  padding-bottom: 15px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container {
    padding: 0 8px;
  }
  footer {
    margin-top: 35px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container .column {
    width: 100%;
  }
  footer .container .third-column {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    padding: 0 8px;
  }
  footer {
    margin-top: 35px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container .column {
    width: 100%;
  }
  footer .container .third-column {
    margin-top: 30px;
  }
}
@media only screen and (max-device-width: 320px) {
  footer .container {
    flex-direction: column;
  }
  footer .container .column {
    width: 100%;
  }
  footer .container .third-column {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 320px) {
  footer .container {
    flex-direction: column;
  }
  footer .container .column {
    width: 100%;
  }
  footer .container .third-column {
    margin-top: 30px;
  }
}
